{% extends 'base.html.twig' %}

{% block title %}TP1 Symfony{% endblock %}

{% block body %}
    <main>
        <div class="wrapper">
            <p>Lorem ipsum dolor sit amet. Aut nobis alias eos voluptatem illo ad veritatis itaque qui debitis natus quo eius veritatis est ducimus voluptas. Quo maiores officiis vel molestiae voluptates a maxime ipsa eos voluptatem nemo et quod corporis eos architecto rerum qui doloremque officiis. </p><p>Quo sequi internos est voluptas deleniti ab quas illo sed asperiores neque qui fugit reiciendis in enim quis rem ratione consectetur. Ex velit illum cum officiis quod et molestiae iste in eveniet veritatis. Aut dolorem nemo et omnis totam in Quis quasi ex consequatur enim 33 provident corrupti? </p><p>Eos asperiores vero in eveniet magnam eum totam quasi et earum placeat. Qui fuga sunt et cupiditate voluptatum id repudiandae nisi et nulla aspernatur. Aut nemo dolorum qui sint quia ut dolores debitis.²
            </p>
        </div>
    </main>>
{% endblock %}
