@use 'reset';
@use 'base';

$background: #DCDCDC;
$gris: #2C2C2C;
$blanc: #FAFAFA;

@font-face {
    font-family: 'Flinders';
    src: url('../../public/fonts/FlindersTrial-SemiBold.ttf');
}

@font-face {
    font-family: 'Dillan';
    src: url('../../public/fonts/MADE\ Dillan\ PERSONAL\ USE.otf');
}

@font-face {
    font-family: 'Lovtony';
    src: url('../../public/fonts/lovtony.ttf');
}

body {
    font-family: 'Lovtony';
    position: relative;
    background-color: $background;
    color: var(--blanc);
    height: 100vh;
    user-select: none;
}

.quiz,
.home {
    font-family: 'Flinders';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    padding: 2vh 0;
    background-color: $gris;
    color: $blanc;

    h1 {
        font-size: 2.5rem;
        color: $background;
        text-align: center;
        width: fit-content;
    }
}

.quiz {
    h1 {
        flex-grow: 1;
    }

    .fleche {
        margin-left: 2vw;
        color: $background;
    }

    .fa-left-long {
        font-size: 2vw;
        cursor: pointer;
        transition: .3s;

        &:hover {
            scale: 1.2;
        }
    }

    .backToQuiz {
        color: $background;
        align-self: center;
        margin-right: 2vw;
        cursor: pointer;
        transition: .3s;

        &:hover {
            scale: 1.1;
        }
    }
}

.listeQuiz {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 5vh auto;
    flex-wrap: wrap;
    gap: 7vh;

    li {
        border-radius: .8em;
        font-size: 2.8rem;
        flex: calc(50% - 7vh);
        padding: 3em 2em;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            letter-spacing: .3em;

            a {
                color: $blanc;
                background-color: rgba(0, 0, 0, 0.9);
            }

            &::before {
                left: 0;
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: 1s;
        }

        &:nth-of-type(1) {
            background: url('../../public/images/knowledge.png');
            background-position-y: 90%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(2) {
            background: url('../../public/images/science.jpg');
            background-position-y: 75%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(3) {
            background: url('../../public/images/sport.jpg');
            background-position-y: 75%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(4) {
            background: url('../../public/images/geography.jpg');
            background-position-y: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(5) {
            background: url('../../public/images/art.jpg');
            background-position-y: 60%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(6) {
            background: url('../../public/images/animals.jpeg');
            background-position-y: 35%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(7) {
            background: url('../../public/images/vehicle.webp');
            background-position-y: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(8) {
            background: url('../../public/images/movie.jpg');
            background-position-y: 5%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-of-type(9) {
            background: url('../../public/images/videogames.jpg');
            background-position-y: 65%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 7vh;
        }

        &:nth-of-type(10) {
            background: url('../../public/images/music.jpg');
            background-position-y: 40%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 7vh;
        }

        a {
            color: #fafafa00;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(10, 5, 15, 0.2);
        }
    }
}

.questions {
    color: $gris;

    h2 {
        font-family: 'Dillan';
        font-size: 2.5vw;
        text-align: center;
        margin: 5vh 2vw 1vh;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
        align-items: center;

        li {
            flex: 50%;
            display: flex;
            justify-content: center;
            height: fit-content;

            p {
                text-align: center;
                font-size: 2vw;
                width: 25vw;
                border: 3px solid $gris;
                background-color: $background;
                padding: 2vw;
                border-radius: 5px;
                transition: .5s;
                cursor: pointer;
                position: relative;
                z-index: 1;

                &:hover {
                    scale: 1.1;
                    color: $blanc;
                }
            }

            .correctColor {
                background-color: rgb(0, 120, 0);
                color: $blanc;
                border: 3px solid $gris;
            }

            .incorrectColor {
                background-color: rgb(220, 0, 0);
                color: $blanc;
                border: 3px solid $gris;
            }

            .hover {

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: -0.5%;
                    height: 0%;
                    width: 101%;
                    background-color: #7c7c7c;
                    z-index: -1;
                    transition: .5s;
                }

                &::before {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    top: 49%;
                }

                &::after {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    bottom: 49%;
                }

                &:hover::before,
                &:hover::after {
                    height: 52%;
                }
            }
        }
    }

    .score {
        font-family: 'Lovtony';
        position: absolute;
        top: 1.5vh;
        font-size: 2rem;
        right: 5vw;
        z-index: 2;
        color: $background;
    }

    .next {
        position: absolute;
        width: fit-content;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
        padding: 1vw 3vw;
        background-color: $gris;
        font-size: 2rem;
        color: $background;
        transition: .5s;
        cursor: pointer;

        &:hover {
            scale: 1.05;
            transform: translateX(-48%);
        }
    }

    .end {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin-left: 10vw;

        :nth-child(-n+3) {
            flex: 25%;

            p {
                background-color: $background;
                color: $gris;
                border: 1px solid $gris;

                &:hover {
                    background-color: #7c7c7c;
                    color: $blanc;
                }
            }

            &:hover {
                flex: 30%;
            }
        }

        :nth-child(4) {
            flex: 100%;
            margin-top: 5vh;

            p {
                color: rgb(204, 161, 19);
                border: 1px solid rgb(204, 161, 19);

                &:hover {
                    scale: 1.05;
                    color: $background;
                    background-color: rgb(204, 161, 19);
                }
            }


        }

        a {
            transition: .5s;
            font-size: 1.5vw;
            cursor: pointer;

            p {
                transition: .5s;
                text-align: center;
                border-radius: 5px;
                padding: 1vw;
            }
        }
    }

    .popup {
        position: absolute;
        z-index: 3;
        left: 36vw;
        top: 40vh;
        padding: 2vw 4vw;
        background-color: rgba(44, 44, 44, 0.9);
        border-radius: 10px;

        form {
            font-size: 2vw;
            display: flex;
            align-items: stretch;

            label {
                display: inline-block;
                color: $background;
                margin-right: 1vw;
            }

            input {
                border-radius: 5px;
                border: none;
            }
        }
    }
}

.leaderboard {
    ul {
        margin-top: 5vh;

        li {
            font-size: 3rem;
            text-align: center;
            width: fit-content;
            margin: 2vh auto;
            border-radius: 10px;
            padding: 1vh 0;
            width: 50vw;
            border: 1px solid $gris;


            :first-child {
                margin-bottom: 2vh;
            }

            &:nth-child(1) {
                background-color: rgb(245, 193, 22);
                border: none;
                background-image: url('../../public/images/1.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:nth-child(2) {
                background-color: rgb(194, 194, 194);
                border: none;
                background-image: url('../../public/images/2.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:nth-child(3) {
                background-color: #c06531;
                border: none;
                background-image: url('../../public/images/3.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

        }
    }
}

.difficulty {
    font-family: 'Flinders';
    position: absolute;
    top: 50vh;
    transform: translate(-70%, -50%);
    gap: 5vw;
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
    background-color: $gris;
    color: $blanc;
    border-radius: 5%;
    text-transform: uppercase;
    transition: .5s;


    h2 {
        align-self: center;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 1vw;
        margin: 2vh 2vw 2vh 0;
    }

    &:hover {
        transform: translate(0, -50%);
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2vw;
        font-size: 1.5vw;

        p {
            cursor: pointer;
        }
    }
}

.hidden {
    display: none;
}