@use 'reset';
@use 'base';

$background: #DCDCDC;
$gris: #2C2C2C;
$blanc: #FAFAFA;
$violet: #883FAA;

@font-face {
    font-family: 'Lemon';
    src: url('../../public/fonts/FlindersTrial-SemiBold.ttf');
}

@font-face {
    font-family: 'Bogart';
    src: url('../../public/fonts/MADE\ Dillan\ PERSONAL\ USE.otf');
}

@font-face {
    font-family: 'Lovtony';
    src: url('../../public/fonts/lovtony.ttf');
}

body {
    font-family: 'Lovtony';
    position: relative;
    background-color: $background;
    // background-image: url('../../public/images/Group\ 19.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    color: var(--blanc);
    height: 100vh;
    user-select: none;
}

.quiz,
.home {
    font-family: 'Lemon';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100vw;
    padding: 2vh 0;
    background-color: $gris;
    color: $blanc;

    h1 {
        font-size: 2.5rem;
        color: #DCDCDC;
        text-align: center;
        width: fit-content;
    }
}

.quiz {
    h1 {
        flex-grow: 1;
    }

    .fleche {
        margin-left: 2vw;
        color: #DCDCDC;
    }

    .fa-left-long {
        font-size: 2vw;
        cursor: pointer;
        transition: .3s;

        &:hover {
            scale: 1.2;
        }
    }

    .backToQuiz {
        color: #DCDCDC;
        align-self: center;
        margin-right: 2vw;
        cursor: pointer;
        transition: .3s;

        &:hover {
            scale: 1.1;
        }
    }
}

.listeQuiz {
    display: flex;
    flex-wrap: wrap;

    li {
        flex: 50%;
        text-align: center;
        margin: 5vh 0 0;

        a {
            border: 1px solid salmon;
            width: fit-content;
        }
    }
}

.questions {
    color: $gris;

    h2 {
        font-family: 'Bogart';
        font-size: 2.5vw;
        text-align: center;
        margin: 5vh 2vw 1vh;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
        align-items: center;

        li {
            flex: 50%;
            display: flex;
            justify-content: center;
            height: fit-content;

            p {
                text-align: center;
                font-size: 2vw;
                width: 25vw;
                // border: 3px solid $violet;
                border: 3px solid $gris;
                background-color: $background;
                padding: 2vw;
                border-radius: 5px;
                transition: .5s;
                cursor: pointer;
                position: relative;
                z-index: 1;

                &:hover {
                    scale: 1.1;
                    color: $blanc;
                }
            }

            .correctColor {
                background-color: green;
                color: $blanc;
                border: 3px solid $gris;
            }

            .incorrectColor {
                background-color: red;
                color: $blanc;
                border: 3px solid $gris;
            }

            .hover {

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: -0.5%;
                    height: 0%;
                    width: 101%;
                    background-color: $gris;
                    // background-color: $violet;
                    z-index: -1;
                    transition: .5s;
                }

                &::before {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    top: 49%;
                }

                &::after {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    bottom: 49%;
                }

                &:hover::before,
                &:hover::after {
                    height: 52%;
                }
            }
        }
    }

    .score {
        font-family: 'Lovtony';
        position: absolute;
        top: 1.5vh;
        font-size: 2rem;
        right: 5vw;
        z-index: 2;
        color: #DCDCDC;
    }

    .next {
        position: absolute;
        width: fit-content;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
        padding: 1vw 3vw;
        background-color: #883FAA;
        color: #DCDCDC;
        transition: .5s;
        cursor: pointer;

        &:hover {
            scale: 1.05;
            transform: translateX(-48%);
        }
    }

    .end {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin-left: 10vw;

        :nth-child(-n+3) {
            flex: 25%;

            p {
                background-color: #DCDCDC;
                color: #883FAA;
                border: 1px solid #883FAA;

                &:hover {
                    background-color: #883FAA;
                    color: #DCDCDC;
                }
            }

            &:hover {
                flex: 30%;
            }

        }

        :nth-child(4) {
            flex: 100%;
            margin-top: 5vh;

            p {
                color: rgb(204, 161, 19);
                border: 1px solid rgb(204, 161, 19);

                &:hover {
                    scale: 1.05;
                    color: #DCDCDC;
                    background-color: rgb(204, 161, 19);
                }
            }


        }

        a {
            transition: .5s;
            font-size: 1.5vw;
            cursor: pointer;

            p {
                transition: .5s;
                text-align: center;
                border-radius: 10px;
                padding: 1vw;
            }
        }
    }

    .popup {
        position: absolute;
        z-index: 3;
        left: 36vw;
        top: 40vh;
        padding: 2vw 4vw;
        width: 20vw;
        background-color: rgba(44, 44, 44, 0.9);
        border-radius: 10px;

        form {
            font-size: 2vw;
            display: flex;
            align-items: flex-end;

            label {
                display: inline-block;
                color: #DCDCDC;
            }
        }
    }
}

.leaderboard {
    ul {
        margin-top: 5vh;

        li {
            text-align: center;
            width: fit-content;
            margin: 2vh auto;
            background-color: #DCDCDC;
            border: 1px solid #883FAA;
            border-radius: 5px;
            padding: 1vh 0;
            width: 50vw;

            :first-child {
                margin-bottom: 2vh;
            }

            &:nth-child(1) {
                background-color: rgb(245, 193, 22);
                border: 1px solid rgb(170, 134, 15);
                background-image: url('../../public/images/1.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:nth-child(2) {
                background-color: rgb(194, 194, 194);
                border: 1px solid rgb(122, 122, 122);
                background-image: url('../../public/images/2.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:nth-child(3) {
                background-color: #c06531;
                border: 1px solid rgb(128, 75, 40);
                background-image: url('../../public/images/3.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

        }
    }
}

.difficulty {
    position: absolute;
    top: 50vh;
    transform: translate(-70%, -50%);
    gap: 5vw;
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
    background-color: $gris;
    color: $blanc;
    border-radius: 5%;
    text-transform: uppercase;
    transition: .5s;


    h2 {
        align-self: center;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 1vw;
        margin: 2vh 2vw 2vh 0;
    }

    &:hover {
        transform: translate(0, -50%);
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2vw;
        font-size: 1.5vw;

        p {
            cursor: pointer;
        }
    }
}

.hidden {
    display: none;
}