.menu {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    color: white;

    &__title {
        font-size: 2.3rem;
    }

    &__items {
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        transition: left 1s;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        font-size: 3.2rem;

        &__title {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 5.6rem;
            margin: 10vh 0;
        }

        &__icons {
            path {
                fill: white;
            }

            display: flex;
            gap: 5vw;
        }
    }


    input {
        display: none;

        &:checked {
            &~label::before {
                content: '\2716';
                position: relative;
                z-index: 2;
            }

            &~ul {
                display: flex;
                left: 0;
            }
        }
    }

    label {
        align-self: stretch;
        font-size: 3rem;
        padding: 0 3vh;
        display: flex;
        align-items: center;
        position: absolute;
        top: 5vh;
        right: 0;

        &::before {
            content: url('../icones/open-burger.png');
        }
    }

    @media screen and (width>640px) {
        .menu {
            &__items {
                position: inherit;
                display: flex;
                align-items: center;
                gap: 3vw;
                height: 100vh;
                flex: 30%;
                width: auto;
                font-size: 1.6rem;

                &__icons {
                    transform: scale(0.4);
                    margin-top: 30vh;
                }
            }
        }

        label {
            display: none;
        }
    }
}